<div class="container">
<div class="row">
    <div class="header">
        <div class="title">Welcome</div>
        <div class="tagline"> <%= current_user.email %> </div>
    </div>
</div>

<%= link_to "Add a job", new_job_path %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete%>
</div>
