// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
  background-color: #ECF0F1;
  font-family: 'Lato', sans-serif;
}

nav {
  position: fixed;
  border: none;

}

.navbar-brand {
  color: #16A085 !important;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar-default {
  border: none;
  background-color: inherit;
  background-image: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #BDC3C7;
}

.tagline {
  float: right;
  color: #222;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.header {

  margin-bottom: 35px;
}

div.well {
  background: rgba(22, 160, 133, 0.9);
  border: none;
}

div.well:hover {
  background: rgba(22, 160, 133, 0.6);
}

.options {
  padding-bottom: 50px;
}

.box a:link, a:visited {
  color: #222;
}

.box a:hover {
  text-decoration: none;
}

.form-control {
  width: 50%;
}